/* [Name] Theme */
.buffee-themepack1-[name] > .buffee-elements {
  background-color: [bg];
  color: [text];
}
.buffee-themepack1-[name] .buffee-layer-selection > div {
  background-color: [selection-bg];
  mix-blend-mode: normal;
}
.buffee-themepack1-[name] .buffee-cursor {
  background-color: [cursor];
}
.buffee-themepack1-[name] .buffee-gutter,
.buffee-themepack1-[name] .buffee-status {
  background-color: [gutter-bg];
  color: [text];
}
