/* Boring Theme */
.buffee-themepack1.boring {
  background-color: #282c34;
  color: #B2B2B2;
}
.buffee-themepack1.boring .wb-selection {
  background-color: #3e4451;
  mix-blend-mode: normal;
}
.buffee-themepack1.boring .wb-cursor {
  background-color: #B2B2B2;
}
