/* Chelsey Theme */
.buffee-themepack1.chelsey {
  background-color: #ffffff;
  color: #000000;
}
.buffee-themepack1.chelsey .wb-selection {
  background-color: #cccccc;
  mix-blend-mode: normal;
}
.buffee-themepack1.chelsey .wb-cursor {
  background-color: #000000;
}
