/* HN Theme */
.buffee-themepack1.hn {
  background-color: #F6F6EF;
  color: black;
}
.buffee-themepack1.hn .wb-selection {
  background-color: #DCDCDA;
  mix-blend-mode: normal;
}
.buffee-themepack1.hn .wb-cursor {
  background-color: black;
}
