/* Star Theme */
.buffee-themepack1-star > .buffee-elements {
  background-color: #000000;
  color: #FFD700;
}
.buffee-themepack1-star .buffee-layer-selection > div {
  background-color: #333333;
  mix-blend-mode: normal;
}
.buffee-themepack1-star .buffee-cursor {
  background-color: #FFD700;
}
.buffee-themepack1-star .buffee-gutter,
.buffee-themepack1-star .buffee-status {
  background-color: #000000;
  color: #FFD700;
}
