/* Chelsey Theme */
.buffee-themepack1-chelsey > .buffee-elements {
  background-color: #ffffff;
  color: #000000;
}
.buffee-themepack1-chelsey .buffee-layer-selection > div {
  background-color: #cccccc;
  mix-blend-mode: normal;
}
.buffee-themepack1-chelsey .buffee-cursor {
  background-color: #000000;
}
.buffee-themepack1-chelsey .buffee-gutter,
.buffee-themepack1-chelsey .buffee-status {
  background-color: #f0f0f0;
  color: #000000;
}
