/* Neo Theme */
.buffee-themepack1.neo > .wb-elements {
  background-color: #0d0d0d;
  color: #00ff41;
}
.buffee-themepack1.neo .wb-selection {
  background-color: #003b00;
  mix-blend-mode: normal;
}
.buffee-themepack1.neo .wb-cursor {
  background-color: #00ff41;
}
.buffee-themepack1.neo .wb-gutter,
.buffee-themepack1.neo .wb-status {
  background-color: #0a2f0a;
  color: #00ff41;
}
