/* Neo Theme */
.buffee-themepack1-neo > .buffee-elements {
  background-color: #0d0d0d;
  color: #00ff41;
}
.buffee-themepack1-neo .buffee-layer-selection > div {
  background-color: #003b00;
  mix-blend-mode: normal;
}
.buffee-themepack1-neo .buffee-cursor {
  background-color: #00ff41;
}
.buffee-themepack1-neo .buffee-gutter,
.buffee-themepack1-neo .buffee-status {
  background-color: #0a2f0a;
  color: #00ff41;
}
