/* Eva Theme - Inspired by Evangelion */
.buffee-themepack1.eva > .wb-elements {
  background-color: #1e1e28;
  color: #d4d4d4;
}
.buffee-themepack1.eva .wb-selection {
  background-color: #9c6bce;
  mix-blend-mode: normal;
}
.buffee-themepack1.eva .wb-cursor {
  background-color: #00d9e9;
}
.buffee-themepack1.eva .wb-gutter,
.buffee-themepack1.eva .wb-status {
  background-color: #38274D;
  color: #87FF5F;
}
