/* Drak Theme */
.buffee-themepack1.drak > .wb-elements {
  background-color: #282a36;
  color: #f8f8f2;
}
.buffee-themepack1.drak .wb-selection {
  background-color: #6272a4;
  mix-blend-mode: normal;
}
.buffee-themepack1.drak .wb-cursor {
  background-color: #ff79c6;
}
.buffee-themepack1.drak .wb-gutter,
.buffee-themepack1.drak .wb-status {
  background-color: #44475a;
  color: #ff79c6;
}
