/* Nord Theme */
.buffee-themepack1-nord > .buffee-elements {
  background-color: #2e3440;
  color: #d8dee9;
}
.buffee-themepack1-nord .buffee-layer-selection > div {
  background-color: #5e81ac;
  mix-blend-mode: normal;
}
.buffee-themepack1-nord .buffee-cursor {
  background-color: #88c0d0;
}
.buffee-themepack1-nord .buffee-gutter,
.buffee-themepack1-nord .buffee-status {
  background-color: #3b4252;
  color: #88c0d0;
}
