/* HN Theme */
.buffee-themepack1-hn > .buffee-elements {
  background-color: #F6F6EF;
  color: black;
}
.buffee-themepack1-hn .buffee-layer-selection > div {
  background-color: #DCDCDA;
  mix-blend-mode: normal;
}
.buffee-themepack1-hn .buffee-cursor {
  background-color: black;
}
.buffee-themepack1-hn .buffee-gutter,
.buffee-themepack1-hn .buffee-status {
  background-color: #FF6602;
  color: black;
}
