/* Boring Theme */
.buffee-themepack1.boring > .wb-elements {
  background-color: #282c34;
  color: #B2B2B2;
}
.buffee-themepack1.boring .wb-selection {
  background-color: #3e4451;
  mix-blend-mode: normal;
}
.buffee-themepack1.boring .wb-cursor {
  background-color: #B2B2B2;
}
.buffee-themepack1.boring .wb-gutter,
.buffee-themepack1.boring .wb-status {
  background-color: #212026;
  color: #B2B2B2;
}
