/* HN Theme */
.buffee-themepack1.hn > .wb-elements {
  background-color: #F6F6EF;
  color: black;
}
.buffee-themepack1.hn .wb-selection {
  background-color: #DCDCDA;
  mix-blend-mode: normal;
}
.buffee-themepack1.hn .wb-cursor {
  background-color: black;
}
.buffee-themepack1.hn .wb-gutter,
.buffee-themepack1.hn .wb-status {
  background-color: #FF6602;
  color: black;
}
