/* Drak Theme */
.buffee-themepack1-drak > .buffee-elements {
  background-color: #282a36;
  color: #f8f8f2;
}
.buffee-themepack1-drak .buffee-layer-selection > div {
  background-color: #6272a4;
  mix-blend-mode: normal;
}
.buffee-themepack1-drak .buffee-cursor {
  background-color: #ff79c6;
}
.buffee-themepack1-drak .buffee-gutter,
.buffee-themepack1-drak .buffee-status {
  background-color: #44475a;
  color: #ff79c6;
}
